*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero_section {
    background: url(images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 16px 48px;
    margin-left: 10%;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar_menu_container {
    margin-right: 10%;
    display: flex;
    gap: 30px;
}

.navbar_menu_container .user_icon{
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

.hero_section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: calc(60vh - 60px);
}

.hero_section_logo {
    width: 300px;
}

.hero_section_title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.hero_section_input_container {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
}

.input_container_location,
.input_container_search {
    padding: 5px;
    border: none;
    outline: none;
}

.input_container_location {
    width: 35%;
}

.input_container_search {
    width: 65%;
}

/*keep media query at last*/
@media only screen and (max-width: 600px) {
    .navbar_menu_container .user_icon{
        display: flex;
    }

    .link {
        display: none;
    }

    .navbar {
        padding: 16px;
    }

    .hero_section {
        min-height: 80vh;
    }

    .hero_section_input_container {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .input_container_location,
    .input_container_search {
        padding: 15px;
        border-radius: 10px;
        width: 95%;
    }

    .hero_section_container {
        height: calc(80vh -60px);
    }

    .hero_section_title {
        font-size: 20px;
        width: 95%;
    }
}

.container {
    margin: 3rem auto;
    width: 90%;
}

.we_offer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.we_offer_card {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
    width: 27%;
}

.we_offer_card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.we_offer_card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
}

.we__offer_content {
    padding: 10px;
}

.we__offer_content h2 {
    font-size: 20px;
    font-weight: 400;
}

.we__offer_content p{
    font-size: 16px;
    color: gray;
}

.collections h1 {
    font-size: xx-large;
    font-weight: 500;
    margin-left: 180px;
}

.collections .sub_heading_container {
    font-size: 18px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.sub_heading_container span:nth-child(2) {
    color: #ff7e8b;
    font-size: 15px;
    cursor: pointer;
}

.collections_card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.collections_card_container .card {
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1 {
    background-image: url(images/collection1.jpg);
}
.card2 {
    background-image: url(images/collection2.jpg);
}
.card3 {
    background-image: url(images/collection_3.webp);
}
.card4 {
    background-image: url(images/collection_4.webp);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.05) 85%
    );
}

.collections_card_container .card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
}

.content h4 {
    font-weight: 400;
    letter-spacing: 0.5px;
}

.get_the_app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
}

.get_the_app .semiContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get_the_app .semiContainer .left {
    flex: 2;
}
.get_the_app .left img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get_the_app .semiContainer .right {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.right h1 {
    font-weight: 400;
    font-size: 2rem;
}

.right p {
    font-size: 0.8rem;
}

.semiContainer .right .radio_button_container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.semiContainer .right .radio_button_container div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.semiContainer .right .radio_button_container div input {
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 79, 95);
}

.semiContainer .right .input_container {
    display: flex;
    gap: 0.5rem;
}

.input_container button,
.input_container input {
    padding: 10px 12px;
}

.input_container {
    flex-wrap: wrap;
}

.input_container input {
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
}

.input_container button{
    border: none;
    background-color: rgb(239, 79, 95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right .download_app_container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.download_app_container h5 {
    font-weight: 400;
    color: gray;
}

.download_app_container div {
    display: flex;
    gap: 1rem;
}

.download_app_container div img {
    width: 35%;
}

@media only screen and (max-width: 1300px) {
    .get_the_app .semiContainer .left,
    .get_the_app .semiContainer .right {
        flex: 1;
    }

    .get_the_app .semiContainer {
        width: 80%;
    }
}
@media only screen and (max-width: 900px) {
    .get_the_app {
        padding: 2rem;
    }

    .get_the_app .semiContainer {
        width: 90%;
    }
}
@media only screen and (max-width: 700px) {
    .get_the_app {
        padding: 3rem 0;
    }

    .get_the_app .semiContainer {
        width: 80%;
        flex-direction: column;
    }
}

.footer {
    width: 100%;
}

.footer_section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer_section1 img {
    width: 120px;
}

.section1_buttonContainer {
    display: flex;
    gap: 1rem;
}

.section1_buttonContainer button {
    padding: 5px 5px;
    width: 90px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.navigation_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}

.link_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link_container h5 {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}

.footer_link {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 300;
}

.footer_link:hover {
    color: black;
}

.social_link_container {
    display: flex;
    gap: 0.5rem;
}

.social_link_container button {
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social_link_container button i {
    color: white;
    font-size: 13px;
}

.footer_section_logos {
    width: 100%;
}

.disclamer {
    width: 80%;
    margin: auto;
    color: gray;
    font-size: 12px;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
  }

  @media only screen and (max-width: 900px) {
    .navigation_container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navigation_container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .navigation_container {
      grid-template-columns: 1fr;
    }
  }
  